.container-fluid
  .row
    #PetsOfWeek.carousel.slide.col-md-8.bg-danger{'data-ride': "carousel"}
      .carousel-inner
        .carousel-item.active
          = image_tag (''), class: 'd-block w-75 mw-75 img-fluid', alt: 'test img'
        .carousel-item
          = image_tag (''), class: 'd-block w-75 mw-75 img-fluid', alt: 'test img'
        .carousel-item
          = image_tag (''), class: 'd-block w-75 mw-75 img-fluid', alt: 'test img'
    .col-6.col-md-2.p-0
      .boxes
        = image_tag ('bg.png'), class: 'img-fluid'
      .boxes
        = image_tag ('bg.png'), class: 'img-fluid'
    .col-6.col-md-2.p-0
      .boxes
        = image_tag ('bg.png'), class: 'img-fluid'
      .boxes
        = image_tag ('bg.png'), class: 'img-fluid'
  
  .row 
    - unless user_signed_in?
      // placeholder
      .row.pt-5
        .col-md-7
          %h2.text-center website info placeholder
          %p.text-center Meh irony enamel pin la croix tacos, leggings iPhone ugh kogi chillwave health goth heirloom austin. Ethical banjo mlkshk fam, PBR&B bitters iPhone chambray bespoke. Beard schlitz quinoa live-edge kitsch scenester hot chicken pour-over. Literally vice cray, affogato pitchfork church-key banjo godard everyday carry 3 wolf moon vinyl mlkshk normcore deep v dreamcatcher. Poutine fanny pack aesthetic, lomo cronut literally hexagon everyday carry authentic scenester. Kitsch ethical YOLO craft beer banjo, chambray hexagon street art. Offal gluten-free freegan pug tote bag, actually schlitz gochujang. Food truck blue bottle salvia live-edge selfies typewriter. Lomo tofu asymmetrical twee, fashion axe gochujang yuccie deep v iceland four loko. Activated charcoal bicycle rights ugh trust fund, williamsburg forage fingerstache humblebrag live-edge gentrify banjo portland. Man bun listicle before they sold out, everyday carry air plant mustache iPhone. Williamsburg tilde +1 portland. Franzen banjo distillery jianbing heirloom.
        .col-5
          

